accelerate==0.33.0
numpy==1.26.4
transformers==4.43.3
# torch==2.4.0 # install through conda
psutil==5.9.0
more-itertools==9.0.0
tensorboard==2.17.0
scikit-learn==1.5.1 # installed using -U (indicated in the official documentation)...
sentencepiece==0.2.0
